                {% for hash in blobs %}
                <tr>
                    <td>{{ hash }}</td>
                    <td>
                        <form id="query-form-{{ hash }}" onsubmit="event.preventDefault(); queryContent('{{ hash }}')" style="display: inline">
                            <input type="hidden" name="hash" value="{{ hash }}">
                            <button type="submit">Query</button>
                        </form>
                    </td>
                </tr>
                {% endfor %} 